* {
  margin: 0;
}

body {
  display: flex;
}

.navBar {
  border-right: 0.1rem solid black;
  padding-right: 0.7rem;
}

.mainBox {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}
.index {
  border: solid red;
  text-align: center;
}
.entry {
  border: solid lightgray;
  margin: 1rem;
}
.entryOptions {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding-left: 0.3rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 3vmin;
}

.logImg {
  border: solid black;
  width: 85.4dvw;
  height: 48dvh;
  object-fit: fill;
}
